:root {
    --grayOne: rgb(184, 174, 174);
    --grayTwo: rgb(235, 231, 231);
    --black: rgb(29, 29, 29);
    --primary: #C4EEFF;
    --secondary: #FF7D00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background: url("./2151022286.jpg") no-repeat center;
}

h1 {
    padding: 0.9rem;
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--black);
    color: var(--primary);
    font-family: "Tangerine", cursive, sans-serif;
}

.accordionHead {
    color: black;
    text-align: center;
    padding: 0.85rem 0;
    border-top: 1px solid var(--grayOne);
    border-bottom: 1px solid var(--grayOne);
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--grayTwo);
    letter-spacing: 1px;
    font-family: "Chicle", serif;
}

.accordionHead.active {
    color: ivory;
    background-color: white;
    color: var(--secondary);
    font-weight: 500;
}

.accordionHead + .accordionBody {
    display: none;
    background-color: var(--grayTwo);
}

.accordionHead.active + .accordionBody {
    display: block;
    background: rgba(255, 255, 255, 0.671);
}

.accordionItem {
    display: block;
    text-align: center;
    padding-top: 0.9rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Tangerine", cursive, sans-serif;
}

.accordionItem:last-of-type {
    padding-bottom: 0.9rem;
}

